* {
    margin: 0;
    padding: 0;
}
.search {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/background.jpg");
    overflow: hidden;
    z-index: 0;

}

.search::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 0;
    opacity: 0.4;
}
.search__button {
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

    background-color: #0096ca;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 0;

    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;

    transition: .5s;
}
.search__button:hover {
    background-color: #24c5ff;
    font-size: 22px;
}
.IpInformation {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(36, 197, 255, .7);
    height: max-content;
    width: max-content;
    border: 2px solid #ffffff;

    border-radius: 5px;
    padding: 10px;

    font-family: "Arial";
    color: white;
    font-size: 20px;
}
.IpInformation div {
    padding-bottom: 15px;
}
.lds-dual-ring {
    display: inline-block;
    position: absolute;
    z-index: 0;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



